.navbar{

    display:flex;
    flex-direction: row;
    background-color: #ff4c68;
    position:relative;
    height: 300px;
    
}

/* .navbar img{

    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 50px;

} */


.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left; /* Align text within the block to the left */
    color:white;
    margin-top:5%;
    margin-left: 10%;   /* Remove any default margin */
}

.link-style{

    text-decoration: none;
    color:white;
}
.sidebar_links {
    display: flex;
    flex-direction: row; /* Stack links horizontally */
    align-items: center; /* Vertically align links */
    justify-content: flex-end; /* Push links to the right */
    position: absolute; /* Enable precise placement */
    top: 20%; /* Move to the vertical middle of the parent */
    padding-right: 5%;
    right: 0; /* Align to the extreme right */
    transform: translateY(-50%); /* Center vertically within the parent */
    gap: 20px;   
   
}

.sidebar_links a{

    text-decoration:none;
    color: white;
    font-size: 20px;
}

.download-button{

    margin-top:10px;
    
}

/* .profilePhotoWrapper{

    height: 33px;
    width:33px;
    border: 0px ;
} */



